---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TrustStrip from "../components/TrustStrip.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Reveals from "../components/Reveals.astro";
import Surfaces from "../components/Surfaces.astro";
import Providers from "../components/Providers.astro";
import Privacy from "../components/Privacy.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main id="main" tabindex="-1">
    <Hero />
    <TrustStrip />
    <HowItWorks />
    <Reveals />
    <Surfaces />
    <Providers />
    <Privacy />
    <FAQ />
  </main>
  <Footer />
</Layout>
